<body class="container -m5">


    <div class='row'>

        <div class="col">
            <h5> </h5>
            <h1>*ngIf</h1>
            <hr>
            <div class="card text-center" style="width: 18rem;">
                <div *ngIf=show class="card-body">
                    <h5 class="card-title">{{cita.autor}}</h5>
                    <p class="card-text">{{cita.frase}}</p>
                </div>
                <a href="#" class="btn btn-primary" (click)="cambiar()">Mostar/Ocultar</a>
                <!--<a href="#" class="btn btn-primary" (click)="show = !show">Mostar/Ocultar</a>-->
            </div>

        </div>
        <div class="col">
            <h5> </h5>
            <h1>*ngFor</h1>
            <hr>
            <ul class="list-group">

                <li *ngFor="let autor of autores " type="button" class="list-group-item list-group-item-action">{{autor}}</li>
            </ul>
        </div>
    </div>




</body>